<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShippingController_V1._0_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <system.web>
    
    <!--<applicationPool maxConcurrentRequestsPerCPU="12" maxConcurrentThreadsPerCPU="0" requestQueueLimit="5000"/>-->
    <sessionState mode="InProc" timeout="1440"></sessionState>
    <httpRuntime maxRequestLength="1048576" />
    
    <pages enableSessionState="true">
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
      <namespaces>
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
    </pages>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    
  
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
    <httpRedirect enabled="false" destination="http://192.168.1.16/Forms/Web%20Forms/frmLogin.aspx" exactDestination="true" childOnly="true" />
    <defaultDocument enabled="true" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGet" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISave" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDelete" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGet1" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISave1" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDelete1" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Get.svc/SOA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGet1" contract="GetRGAService.IGet" name="BasicHttpBinding_IGet1" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Delete.svc/SOA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelete" contract="DeleteService.IDelete" name="BasicHttpBinding_IDelete" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Save.svc/SOA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISave1" contract="SetRGAService.ISave" name="BasicHttpBinding_ISave1" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Get.svc/SOA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGet" contract="GetService.IGet" name="BasicHttpBinding_IGet" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Save.svc/SOA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISave" contract="SetService.ISave" name="BasicHttpBinding_ISave" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Delete.svc/SOA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelete1" contract="DeleteRMAService.IDelete" name="BasicHttpBinding_IDelete1" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ImageServerPath" value=" http://fileshare.kraususa.com/#{ImageName}#?login=rgauser:rgaICG2014" />
    <add key="PhysicalPath" value="\\192.168.1.172\Macintosh HD\ftp_share\RGAImages" />
    <add key="Server_UserName" value="Shivainfotech" />
    <add key="Server_Domain" value="Shiva5" />
    <add key="server_Password" value="shiva2014" />
  </appSettings>
  <extnet theme="Gray" licenseKey="NzMwMzk5MzksMiw5OTk5LTEyLTMx" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>