<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGet" />
        <binding name="BasicHttpBinding_IDelete" />
        <binding name="BasicHttpBinding_ISave" />
        <binding name="BasicHttpBinding_IGet1" />
        <binding name="BasicHttpBinding_ISave1" />
        <binding name="BasicHttpBinding_IDelete1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Get.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGet"
        contract="GetRGAService.IGet" name="BasicHttpBinding_IGet" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Delete.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelete"
        contract="DeleteService.IDelete" name="BasicHttpBinding_IDelete" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Save.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISave"
        contract="SetRGAService.ISave" name="BasicHttpBinding_ISave" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Get.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGet1"
        contract="GetService.IGet" name="BasicHttpBinding_IGet1" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Save.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISave1"
        contract="SetService.ISave" name="BasicHttpBinding_ISave1" />
      <endpoint address="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Delete.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelete1"
        contract="DeleteRMAService.IDelete" name="BasicHttpBinding_IDelete1" />
    </client>
  </system.serviceModel>
</configuration>
